MONGO_HOST_PORT={mongodb_port}
MONGO_HOST_DIR={mongodb_host}
MONGO_INITDB_ROOT_USERNAME={mongodb_username}
MONGO_INITDB_ROOT_PASSWORD={mongodb_root_password}
MYSQL_ROOT_PASSWORD={mysql_root_password}
MYSQL_PORT={mysql_port}

