MYSQL_DATABASE={mysql database}
MYSQL_USERNAME={mysql username}
MYSQL_PASSWORD={mysql password}
MYSQL_HOST={mysql hostname}

# Mongo User Details
MONGO_DB_NAME={MONGO_DB_NAME}
MONGO_DB_USER={MONGO_DB_USER}
MONGO_DB_PASSWORD={MONGO_DB_PASSWORD}
MONGO_DB_HOST={MONGO_DB_HOST}
MONGO_DB_PORT={MONGO_DB_PORT}

