cffi==2.0.0
cryptography==45.0.7
dnspython==2.8.0
numpy==2.3.4
pycparser==2.23
pygeohash==3.2.0
pymongo==4.15.3
PyMySQL==1.1.2
pyshp==3.0.2.post1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
shapely==2.1.2
six==1.17.0
